:root {
    --main-teal: #6DF9D6;
    --main-purple: #7904a0;
    --main-black: #202020;
    --main-white: #f0f0f0;
    --main-gray: #929292;
    --main-orange: #f9bf3b;
    --main-darkorange: #f6ac00;
    --main-blue: rgb(50, 50, 255);
    --main-darkblue: rgb(0, 0, 251);
    --main-lightblue: #00bff3;
    --main-transp: rgba(0, 0, 255, 0.075);
    ;
}

@font-face {
    font-family: "MovieNite";
    src: url("../assets/MovieNite.ttf")
}

@font-face {
    font-family: "SpringInMay";
    src: url("../assets/Spring\ in\ May.ttf")
}

/* main */
body {
    background-color: #000000;
}

.subtitle {
    color: white;
}

.subtitle {
    font-size: 1.4rem;
    font-style: italic;
}

.container {
    min-height: 100vh;
}

.form-footer {
    display: flex;
}

.form-footer span {
    align-self: flex-end;
}

#logo {
    width: 400px;
}

/* form controls */

/* border inputs*/

.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #000000;
    border-bottom: .125rem solid #000000;
    border-left: .125rem solid #000000;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: #000000;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor #000000;
    border-bottom: .125rem solid #000000;
    border-right: .125rem solid #000000;
    border-top: .125rem solid #000000;
}

.form-outline .form-control:focus~.form-label {
    color: #000000;
}

/* cards */
.card {
    margin-top: 1rem;
}

.card-body p {
    margin-bottom: .4rem !important;
}

.btn-borrar {
    background-color: rgb(221, 51, 51);
    color: white;
}

.btn-borrar:hover {
    color: white;
    background-color: rgb(218, 12, 12);
}

/* footer */
.footer {
    color: var(--main-white);
    margin-top: 3rem;
}

.footer p {
    margin-bottom: 0 !important;
    color: var(--main-gray);
    font-family: 'Roboto Condensed', sans-serif;
}

.footer h4 {
    font-family: "SpringInMay", serif;
    font-size: 2.4rem;
}

.footer span {
    color: var(--main-darkorange)
}

.icons {
    justify-content: center;
}

.icons a {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 1rem !important;
}

.icons a {
    color: white;
    font-size: 2.4rem;
    transition: all;
}

.icons a:hover {
    color: #303030;
}

/* media querys */
@media only screen and (max-width: 600px) {
    #logo {
        width: 300px;
    }

    .subtitle {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 992px) {
    .form-footer {
        flex-direction: column;
    }

    .form-footer span {
        font-size: .9rem;
        margin-top: 1rem;
        align-self: flex-start;
    }

    .form-footer button {
        align-self: flex-start;
    }

    .card-body {
        padding: 1.2rem;
    }
}